@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#container {
	height: 100%;
	width: 100%;
	position: relative;
}

img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/*-----------------------FONT--------------------------*/

@font-face {
  font-family:"Lato";
  src:url("Font/Lato/Lato.otf");
}

@font-face {
  font-family:"Base";
  src:url("Font/Base/BaseticaPro.otf");
}


/*---------------------------HEADER------------------------------*/

header {
	width: 100%;
	height:100px;
	background-color: aqua;
}

header .header_container {
	width: 80em;
	height: 100px;
	margin: 0 auto;
	position: relative;
	background-color:coral;
}

header ul {
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
	position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

header ul li {
	display: inline-block;
	position: relative;
	top:42.5%;
	left:7.5%;
	padding: 0px 25px;
	width: auto;
	height: auto;
}

header ul li a {
	font-size: 15px;
	font-family: "Lato";
	font-weight: 500;
	text-decoration: none;
	color: #767676;
	letter-spacing: 0.25px;
}

header ul li img {
	width:250px;
	height:auto;
}

/*-----------------------------NAV---------------------------------*/

nav {
	width: 100%;
	height: 60px;
	display: none;
	
}

nav .nav_container {
	width: 100%;
	height: 60px;
	margin: 0 auto;
	position: relative;
}

nav ul {
	width: 90%;
	height: 60px;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

nav ul li {
	display: inline-block;
	position: relative;
	width: auto;
	height: 60px;
	line-height: 60px;
    vertical-align: middle;
	padding: 0px 25px;
}

nav ul li a {
	font-size: 15px;
	font-family: "Lato";
	font-weight: 500;
	text-decoration: none;
	color: #767676;
	letter-spacing: 0.25px;
}

nav ul li img {
	width: 60px;
	height: auto;
}

/*------------------------------PHONE---------------------------------*/

@media only screen and (max-width: 80em) {
	
}