@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #FFF;
}

.container {
	height: 100%;
	width: 100%;
	position: relative;
	overflow-x: hidden;
}

.wrappercontainer {
	visibility:hidden;
	height:0px;
}

img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#googleMap {
	width:100%;
	height:650px;
}

#content {
    width: 20vw;
	height: 8vw;
	padding: 0;
	margin: 0;
}

#btnReturn {
	width: 45px;
    height: 45px;
    border-radius: 20%;
	border:2px solid #555;
    position: fixed;
    top: 88vh;
    z-index: 10;
    right: 2.5%;
	cursor:pointer;
	display: none;
	background: url(Bilder/Small/up.png) no-repeat center;
	background-size:35px;
	transition: .25s ease-in-out;
}

#btnReturn:hover {
	border-radius: 50%;
}

span {
	color:#2F2F2F;
}

/*-----------------------FONT--------------------------*/

@font-face {
  font-family:"Lato";
  src:url("Font/Lato/Lato.otf");
}

@font-face {
  font-family:"Base";
  src:url("Font/Base/BaseticaPro.otf");
}

/*---------------------------HEADER------------------------------*/

header {
	width: 100%;
	height:65px;
}

header .header_container {
	width: 100%;
	height:65px;
	margin: 0 auto;
	position: fixed;
	background-color: #FFF;
	box-shadow:0px -100.5px 10px 100px #cdcdcd;
	z-index: 10;
}

header ul {
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
	position: relative;
	text-align: center;
}

header ul li {
	display: inline-block;
	padding: 0px 20px;
	line-height: 65px;
}

header ul li:nth-child(1) {
	float: left;
}

header ul li:nth-child(2) {
	float: right;
	height: 65px;
}

header ul li ul li {
	width: auto;
	height: auto;
	padding: 0px 22px;
}

header ul li ul li:nth-child(1) {
	float: none;
}

header ul li ul li a {
	font-size: 15px;
	font-family: "Lato";
	font-weight: 500;
	text-decoration: none;
	color: #747474;
	letter-spacing: 0.25px;
	transition: 0.25s ease-in-out;
}

header ul li ul li a:hover {
	color: #e94335;
}

header ul li img {
	width: 225px;
	height: auto;
	vertical-align: middle;
}
/*------------------------------ARTICLE---------------------------------*/

article {
	width: 100%;
	height: 100%;
}

article .article_container{
	width: 100%;
	height: 100%;
}

.article_top {
	height:150px;
	padding:50px 0px;
	background-color: #e94335;
	position:relative;
	z-index:3;
}

.inner_article_top {
	top:50%; 
	transform: translate(0%, -50%); 
	position:relative;
	line-height:70px;
}

.rotate {
	transform: rotate(-2.5deg) translate(-50%, -200%);
	height:150px;
	width:10000px;
	background-color: #e94335;
	position:relative;
	left:50%;
	top:200%;
}

article ul {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 0;
	margin: 50px auto;
	font-size:0;
	text-align:center;
}

article ul li {
	display:inline-block;
	margin: 0 15px;
	height: 650px;
	background-color: #F8F8F8;
	position:relative;
}

article ul:nth-child(2) li:nth-child(1) {
	width: 300px;
}

article ul:nth-child(2) li:nth-child(2) {
	width: 650px;
}

article ul:nth-child(2) li:nth-child(1) ul {
	width:100%;
	height:100%;
	margin: 0 auto;
	float: left;
	overflow:hidden;
}

article ul:nth-child(2) li:nth-child(1) ul li {
	width:100%;
	margin: 0 auto;
	background-color: transparent;
}

article ul li:nth-child(1) ul li h2, p {
	font-family: "Lato";
}

article ul li:nth-child(1) ul li:nth-child(1) {
	height: 30%;
}

article ul li:nth-child(1) ul li:nth-child(1) img {
	width: 100%;
	height: 100%;
}

article ul li:nth-child(1) ul li:nth-child(2) {
	height: 25%;
}

article ul li:nth-child(1) ul li:nth-child(2) h2 {
	font-size: 28px;
	font-weight: 600;
	letter-spacing: .5px;
}

article ul li:nth-child(1) ul li:nth-child(2) p {
	font-size: 16px;
	width:80%;
	margin: 0 auto;
	line-height: 20px;
	color: #747474;
	letter-spacing: 0.25px;
}

article ul li:nth-child(1) ul li:nth-child(3) {
	height: 10%;
}

article ul li:nth-child(1) ul li:nth-child(3) p:nth-child(1) {
	color: #000;
	font-size: 18px;
	letter-spacing: 0.5px;
}

article ul li:nth-child(1) ul li:nth-child(3) p {
	font-size: 16px;
	margin: 6.5px auto;
	color: #747474;
	letter-spacing: 0.25px;
}

article ul li:nth-child(1) ul li:nth-child(4) {
	height: 10%;
}

article ul li:nth-child(1) ul li:nth-child(4) p:nth-child(1) {
	color: #000;
	font-size: 18px;
	letter-spacing: 0.5px;
}

article ul li:nth-child(1) ul li:nth-child(4) p {
	font-size: 16px;
	margin: 6.5px auto;
	color: #747474;
	letter-spacing: 0.25px;
}

article ul li:nth-child(1) ul li:nth-child(5) {
	height: 20%;
}

article ul li:nth-child(1) ul li:nth-child(5) p:nth-child(1) {
	color: #000;
	font-size: 18px;
	letter-spacing: 0.5px;
}

article ul li:nth-child(1) ul li:nth-child(5) p {
	font-size: 16px;
	margin: 6.5px auto;
	color: #747474;
	letter-spacing: 0.25px;
}

.article_top h1 {
	width: 100%;
	height: auto;
	text-align: center;
	font-family:"Lato";
	font-weight: 600;
	font-size: 30px;
	letter-spacing: 5px;
	margin: 0 auto;
	color:#fff;
}


.article_top p {
	font-size:16px;
	color:#fff;
	letter-spacing: 0.25px;
	margin:0px auto;
	position: relative;
	width: 50%;
	text-align: center;
	line-height: 27.5px;
}

.container_slide {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: inherit;
}

.container_text {
	position:relative;
	width:65%;
	height: auto;
    top: 50%;
	left:40%;
    transform: translate(-40%, -50%);
}

.article_about:nth-child(odd) .container_text {
	position:relative;
	width:65%;
	height: auto;
    top: 50%;
	left:65%;
    transform: translate(-65%, -50%);
}

.slider-wrapper {
  	width: 70%;
 	height: auto;
 	position:relative;
  	margin:10px;
 	left: 20%;
	transform: translate(-20%, 0%);
    overflow: hidden;
    background-color: transparent;
    box-shadow: 5px 15px 75px -20px #777;
}

.inner-wrapper {
  	width: 500%;
  	height: 100%;
  	position: relative;
  	left: -100%;
}

.slide {
  	width: calc(100% / 5);
  	height: 100%;
  	float: left;
  	font-size: 100px;
  	color: black;
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

.button {
  	width: 1vw;
  	height: 1vw;
  	border-top: 2px solid #747474;
  	position:absolute;
  	cursor: pointer;
  	top:100%;
	margin:0px 50%;
	transition: .25s ease-in-out;
}

.prev {
  	border-left: 2px solid #747474;
  	transform: rotate(-45deg);
	left:30%;
	transition: .25s ease-in-out;
}

.next {
  	border-right: 2px solid #747474;
  	transform: rotate(45deg);
	left:30%;
	margin: 0 60%;
	transition: .25s ease-in-out;
}

.button:hover {
	border-top: 2px solid #e94335;
}

.next:hover {
	border-right: 2px solid #e94335;
}

.prev:hover {
	border-left: 2px solid #e94335;
}

.article_about {
	width:100%;
	height:100%;
}

.article_about ul {
	width:100%;
	height:31vw;
	display:inline-block;
	position:relative;
}

.article_about ul li {
	display:inline-block;
	margin:0 auto;
	height:inherit;
	background-color:transparent;
}

.article_about ul li:nth-child(1) {
	width:50%;
	float:right;
}

.article_about ul li:nth-child(2) {
	width:50%;
	height:inherit;
	float:left;
	text-align: left;
	letter-spacing: 0.25px;
	top:50%;
	transform:translate(0%, -50%);
}

.article_about ul li:nth-child(2) h2 {
	font-size: 25px;
	font-family:"Lato";
	line-height: 35px;
	width: 100%;
	margin: 0px auto 20px auto;
	letter-spacing: 5px;
	font-weight:600;
}

.article_about ul li:nth-child(2) p {
	font-size:16px;
	line-height: 27.5px;
	color:#747474;
	width:100%;
	margin: 0 auto;
}

.article_about:nth-child(2) ul li:nth-child(1) {
	float:left;
}

.article_about .img_about {
	width:100%;
	height: inherit;
}

.article_about .img_about img {
	width:35vw; 
	height:auto; 
	transform: translate(0%, -50%); 
	top:50%; 
	position: relative;
	box-shadow: -5px 15px 75px -20px #777;
}


.container_slide {
	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 100%;
}

.slider-wrapperI {
  	width: 100%;
  	height: 87.5vh;
	resize: none;
  	overflow: hidden;
}

.inner-wrapperI {
  	width: 500%;
  	height: 100%;
  	position: relative;
  	left: -100%;

}

.slide {
  	width: calc(100% / 5);
  	height: 100%;
  	float: left;
  	font-size: 100px;
  	color: black;
  	display: flex;
  	justify-content: center;
	align-items: center;
}

.slide_content h2 {
	font-size: 45px;
	font-family:"Lato";
	text-align: left;
	letter-spacing: 0.5px;
	color: #fff;
}

.slide_content p {
	font-size: 18px;
	font-family: "Lato";
	text-align: left;
	letter-spacing: 0.25px;
	color: #fff;
}

.slide_content {
	width: 100%;
    height: auto;
	top: 0%;
    left: 17.5%;
    position: relative;
}

.slide:nth-child(2) h2 {
	line-height: 5px;
}

.slide:nth-child(2) p {
	line-height: 5px;
}

.buttonI {
  	width: 20px;
  	height: 20px;
  	border-top: 4px solid #747474;
  	position: absolute;
  	cursor: pointer;
  	transition:.25s ease-in-out;
}

.prevI {
  	border-left: 4px solid #747474;
  	left: 5%;
  	transform: rotate(-45deg);
  	transition:.25s ease-in-out;
}

.nextI {
  	border-right: 4px solid #747474;
  	right: 5%;
  	transform: rotate(45deg);
	transition: .25s ease-in-out;
}

.prevI:hover {
  	border-left: 4px solid #e94335;
    border-top: 4px solid #e94335;
}

.nextI:hover {
  	border-right: 4px solid #e94335;
    border-top: 4px solid #e94335;
}


.submit {
	background: none;
    background-color: #e94335;
    border: none;
    padding: 16px 50px;
    color: #fff;
	top: -30px;
    font-weight: bolder;
    font-size: 16px;
    font-family: "Lato";
	position:relative;
    letter-spacing: 2.5px;	
	transition: .25s ease-in-out;
}

.submit:hover {
    background-color: #D13D31;
	cursor: pointer;
}

/*------------------------------FOOTER---------------------------------*/

footer {
	width: 100%;
	height: 100%;
	background-color: #2F2F2F;
}

footer .footer_container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

footer p {
	text-align: left;
	color: #EEE;
	font-family: "Lato";
	font-weight: 500;
	font-size: 15px;
	letter-spacing: 0.5px;
	margin:0 auto;
	line-height:50px;
	width:fit-content;
}

footer a {
	color: #fff;
	text-decoration: none;
	transition: .25s ease-in-out;
}

footer a:hover {
	color: #2F2F2F;
}

footer ul {
	width: 100%; 
	height: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

footer ul li {
	display: inline-block;
	width: auto;
	height: auto;
	vertical-align: top;
}

footer .info {
	background-color: #e94335;
	padding:75px 0px;
}

footer .info p {
	text-align: left;
	color: #fff;
	font-weight: 500;
	font-size: 15px;
	letter-spacing: 0.25px;
	margin:0 auto;
	line-height:27.5px;
	width:100%;
}

footer .info h3 {
	text-align: left;
	color: #fff;
	font-family: "Lato";
	font-weight: bolder;
	font-size: 20px;
	letter-spacing: 2.5px;
	margin:0 auto;
	line-height:50px;
	width:100%;
}

footer .info li:nth-child(1) p {
	width:275px;
}

footer .info li:nth-child(2) {
	margin: 0px 50px;
}

footer .info li:nth-child(3) p {
	width:275px;
}

/*------------------------------PHONE---------------------------------*/

@media screen and (max-width: 1000px) {

	article ul {
		margin: 50px auto;
	}	

	article ul li {
		display:inline-block;
		margin: 0 15px;
		height: 400px;
		background-color: #F8F8F8;
		position:relative;
	}

	article ul:nth-child(2) li:nth-child(1) {
		width: 600px;
	}

	article ul li .shopimg {
		display: none;
	}

	article ul li:nth-child(1) {
		margin: 30px auto;
	}	

	article ul li:nth-child(1) ul li:nth-child(1) {
		height: 0%;
	}

	article ul li:nth-child(1) ul li:nth-child(2) {
		padding: 0px 0px 25px 0px;
	}

	article ul li:nth-child(1) ul li:nth-child(3) {
		padding: 10px 0px;
	}

	article ul li:nth-child(1) ul li:nth-child(4) {
		padding: 10px 0px 20px 0px;
	}

	article ul:nth-child(2) li:nth-child(2) {
		width: 600px;
	}

	#googleMap {
		width: 100%;
		height: 400px;
	}
	
	article .article_about ul {
		margin: 0 auto;
	}
	
	.container_text {
		position:relative;
		width:100%;
		height: auto;
		top:0;
		left:0;
		transform: translate(0);
	}

	.article_about:nth-child(odd) .container_text {
		position:relative;
		width:100%;
		height: auto;
		top:0;
		left:0;
		transform: translate(0);
	}

	.slider-wrapper {
		width: 85%;
		height: auto;
		position:relative;
		margin:10px;
		left:0;
		transform: translate(0);
		overflow: hidden;
		background-color: transparent;
		box-shadow: 0px 15px 75px -20px #777;
	}

	.inner-wrapper {
		width: 500%;
		height: 100%;
		position: relative;
		left: -100%;
	}

	.slide {
		width: calc(100% / 5);
		height: 100%;
		float: left;
		font-size: 100px;
		color: black;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.button {
		width: 1.5vw;
		height: 1.5vw;
		border-top: 2px solid #747474;
		position:absolute;
		cursor: pointer;
		top:50%;
		margin:0px 50%;
		transition: .25s ease-in-out;
	}

	.prev {
		border-left: 2px solid #747474;
		transform: rotate(-45deg);
		left:-53%;
		transition: .25s ease-in-out;
	}

	.next {
		border-right: 2px solid #747474;
		transform: rotate(45deg);
		left:40%;
		margin: 0 60%;
		transition: .25s ease-in-out;
	}

	.article_about {
		width:100%;
		height:100%;
	}

	.article_about ul {
		width:100%;
		height:100%;
		display:block;
		position:relative;
	}

	.article_about ul li {
		display:block;
		margin:0 auto;
		height:inherit;
		background-color:transparent;
	}

	.article_about ul li:nth-child(1) {
		width:50%;
		float:none;
		margin:0 auto;
	}

	.article_about ul li:nth-child(2) {
		width:50%;
		height:inherit;
		float:none;
		text-align: center;
		letter-spacing: 0.25px;
		top:0;
		transform:translate(0);
		margin: 60px auto;
	}

	.article_about ul li:nth-child(2) h2 {
		font-size: 25px;
		font-family:"Lato";
		line-height: 35px;
		width: 100%;
		margin: 0px auto 20px auto;
		letter-spacing: 5px;
		font-weight:600;
	}

	.article_about ul li:nth-child(2) p {
		font-size:16px;
		line-height: 27.5px;
		color:#747474;
		width:100%;
		margin: 0 auto;
	}

	.article_about:nth-child(2) ul li:nth-child(1) {
		float:none;
	}

	.article_about .img_about {
		width:100%;
		height: inherit;
	}

	.article_about .img_about img {
		width:41vw; 
		height:auto; 
		transform: translate(0); 
		top:0; 
		position: relative;
		box-shadow: -5px 15px 75px -20px #777;
	}

	footer ul {
		width: 100%; 
		height: 100%;
		margin: 0 auto;
		padding: 0;
		text-align: center;
	}

	footer ul li {
		display: block;
		width: 85%;
		height: auto;
		margin: 0 auto;
		vertical-align: top;
	}

	footer .info {
		background-color: #e94335;
		padding:75px 0px;
	}

	footer .info p {
		text-align: left;
		color: #fff;
		font-weight: 500;
		font-size: 15.5px;
		letter-spacing: 0.25px;
		margin:0 auto;
		line-height:27.5px;
		width:100%;
	}

	footer .info li:nth-child(1) p {
		width:100%;
	}

	footer .info li:nth-child(2) {
		margin: 25px auto;
	}

	footer .info li:nth-child(3) p {
		width:100%;
	}
}

@media screen and (max-width: 750px) {

	header {
		width: 100%;
		height:65px;
		border-bottom:1px solid #CCC;
	}

	header .header_container {
		width: 100%;
		height:65px;
		margin: 0 auto;
		position: fixed;
		overflow: hidden;
	}

	header ul {
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding: 0;
		position: relative;
		text-align: center;
		top: 50%;
		transform: translate(0%, -50%);
	}

	header ul li {
		display: inline-block;
		padding: 0px 10px;
	}

	header ul li:nth-child(1) {
		float: none;
		transform: translate(0%);
	}

	header ul li:nth-child(2) {
		display: none;
	}

	header ul li img {
		width:200px;
		height:auto;
	}
	
	/*----------------------------------------*/
	article ul {
		margin: 50px auto;
	}
	
	article ul:nth-child(2) li:nth-child(1) {
		width: 85vw;
		display:block;
	}

	article ul:nth-child(2) li:nth-child(2) {
		width: 85vw;
	}
	
	article ul li:nth-child(1) ul li:nth-child(2) {
		height: 25%;
	}
	
	article ul li:nth-child(1) ul li:nth-child(2) p {
		position:relative;
		top:-0.5vw;	
		width:85%;
	}
	
	article ul:nth-child(2) li:nth-child(1) ul {
		top:-2.5%;	
	}
	
	.article_about ul li:nth-child(1) {
    	width: 100%;
	}
	
	.article_about ul li:nth-child(2) {
		width: 100%;
	}
	
	.article_about ul li:nth-child(2) h2 {
		font-size: 28px;
	}
	
	.article_about ul li:nth-child(2) p {
		font-size: 17px;
		line-height: 30px;
		color: #747474;
		width: 80%;
		margin: 0 auto;
	}
	
	.slider-wrapper {
		width: 80%;
	}
	
	.article_about .img_about img {
		width: 85vw;
		height: auto;
		transform: translate(0);
		top: 0;
		position: relative;
		box-shadow: 0px 15px 75px -20px #777;
	}
	
	.prev {
		left: -46%;
	}
	
	.next {
		left: 33.5%;
	}
	
	.article_top p {
		width: 95%;
	}
	
	footer p {
		font-size: 17px;
	}
	
	footer .info h3 {
		font-size: 23px;
	}
	/*---------------------------------------*/

	.wrappercontainer {
		visibility:visible;
		height:60px;
		position:absolute;
		z-index:100;
		top:15px;
		left:10px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none; 
	}

	#sidebar {
		width:275px;
		position:fixed;
		top:0;
		left:-275px;
		height:100%;
		z-index:999;
		background:#e94335;
		color:#000;
		transition:all 0.3s;
		overflow-y:scroll;
	}

	#sidebar.active {
		left:0;
	}

	#dismiss {
		width:35px;
		height:35px;
		line-height:25px;
		text-align:center;
		background:transparent;
		position:absolute;
		top: 20.5px;
		left: 7.5px;
		cursor:pointer;
		font-size:24px;
		-webkit-transition:all 0.3s;
		-o-transition:all 0.3s;
		transition:all 0.3s;
	}

	#dismiss:hover {
		color:#e94335;
	}

	.overlayside {
		position:fixed;
		width:100vw;
		height:100vh;
		z-index:998;
		display:none;
		top:0;
		background:rgba(0, 0, 0, 0.5);
	}

	.btnNavbar {
		height:30px;
		width:30px;
		padding:0;
		border:none;
		background:none;
		outline:0;
		cursor:pointer;
		font-size:24px;
		position:fixed;
		z-index:999;
	}

	#sidebar .sidebar-header {
		padding:0;
		background:#fff;
		text-align: center;
		width:100%;
		height:70px;
	}
	
	#sidebar .sidebar-underheader {
		width: 300px;
		height: 50px;
		left: -5%;
		top: -15px;
		background-color: #fff;
		position: relative;
		transform: rotate(-5deg);
	}

	#sidebar .sidebar-header a {
		text-decoration: none;
		font-family:"Lato";
		line-height: 100px;
		font-size: 24px;
		color: #000;
		letter-spacing: 1.25px;
	}

	#sidebar .sidebar-list p {
		padding:15px 0px;
		text-align:center;
		font-family:"Lato";
		font-size: 20px;
		letter-spacing:2.5px;
		color:#000;
	}

	#sidebar ul.components {
		padding:20px 0px;
	}

	#sidebar ul p a {
		color:#000;
		text-decoration:none;
		font-weight:bolder;
		transition:.3s ease-in-out;
		padding:10px;
	}

	#sidebar ul p a:hover {
		color:#fff;
	}

	#sidebar ul li.active > a, a[aria-expanded="true"] {
		color: #fff;
	}

	a[data-toggle="collapse"] {
		position: relative;
	}

	a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
		content: '\e259';
		display: block;
		position: absolute;
		right: 20px;
		font-family: 'Glyphicons Halflings';
		font-size: 0.6em;
	}
	a[aria-expanded="true"]::before {
		content: '\e260';
	}

	ul.CTAs {
		padding: 20px;
	}

	ul.CTAs a {
		text-align: center;
		font-size: 0.9em !important;
		display: block;
		border-radius: 5px;
		margin-bottom: 5px;
	}
	a.download {
		background: #fff;
		color: #7386D5;
	}
	a.article, a.article:hover {
		color: #fff !important;
	}

	#content {
		width:100%;
		padding:20px;
		min-height:100vh;
		transition:all 0.25s;
		position:absolute;
		top:0;
		right:0;
	}
	
	#btnReturn {
		background: none;
		border: none;
		width: 0;
		height: 0;
	}
}